<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
</head>
<body>
    <h2>Company Home Page</h2>
    <hr>
    Welcome to the company home page!

    <!-- Access roles and username who has been logged in.-->
    <p>
        User: <span sec:authentication="principal.username">  </span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities">  </span>
    </p>

    <hr>

    <!-- This will be hidden in HTML Resource for not authenticated roles. -->
    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <!-- Add link for /leaders, for managers only -->
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for Manager peeps)
        </p>
    </div>

    <!-- This will be hidden in HTML Resource for not authenticated roles. -->
    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <!-- Add link for /systems, for admins only-->
            <a th:href="@{/systems}">IT Systems Meeting</a>
            (Only for Admin peeps)
        </p>
    </div>

    <!-- Logout method must be post, th:action should be matched with configuration.-->
    <!-- - Invalidate user's HTTP Session and remove cookies. -->
    <!-- - Sends user back to the login page. -->
    <!-- - Appends a logout parameter ?logout -->
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>